<div data-ng-controller="ahController" class="col-md-3" style="background-color:#cccccc">
    <div id="itemDetails">
        <span class="glyphicon glyphicon-exclamation-sign codingScenarioHighlight">Scenario 1</span><br/>
        {{auction.auctionItem.description}}
        <br/><br/>
        <div ng-show="auction.hasEnded && auction.currentBidder !== null">
            <div class="alert alert-danger text-center">
                <b>Sold for<br>€ {{auction.highestBid}}</b>
            </div>
        </div>
        <div ng-show="auction.hasEnded && auction.currentBidder === null">
            <div class="alert alert-warning text-center">
                <b>Auction was not sold<br></b>
            </div>
        </div>
        <div ng-show="!auction.hasEnded">
            <span class="glyphicon glyphicon-exclamation-sign codingScenarioHighlight">Scenario 1</span><br/>
            Starting price € {{auction.auctionItem.startingPrice}}
            <br/>
            Estimate € {{auction.auctionItem.estimatePrice}}
        </div>
        <br/><br/>
        <img src="{{auction.auctionItem.mediaData.imageUrl}}" title="{{auction.auctionItem.title}}" />
        <br/><br/>
        <div  class="currentBidderPlaceholder" >
            <div ng-show="auction.currentBidder">
                <span class="glyphicon glyphicon-exclamation-sign codingScenarioHighlight">Scenario 2</span>
                <h5><span style="text-decoration: underline;">Current highest bidder:</span></h5>
                <div class="currentBidderFlag">
                    <img src="{{auction.currentBidder.countryFlag}}" class="countryFlag" title="{{auction.currentBidder.country}}" />
                </div>
                <div class="currentBidderData">
                    <b>{{auction.currentBidder.firstName}}, Bidder {{auction.currentBidder.id}} from {{auction.currentBidder.country}}</b><br/>
                    bid €{{auction.highestBid}}
                </div>
            </div>
        </div>
    </div>
</div>
