<div ng-hide="disableDebuggingControlls" id="debuggingControlls" ng-controller="ahController" style="background-color:#cccccc;border:1px solid blue"><b>Debugging Btns:</b><br>
    <button data-ng-click="endAuction()">end auction</button>
    change to User: <button data-ng-click="changeUser(0)">1 (Default)</button>
    <button data-ng-click="changeUser(1)">2</button>
    <button data-ng-click="changeUser(2)">3</button>
    <button data-ng-click="commitBidNotPlacedFirst()">Commit a bid that is not placed first!<br/><span class="glyphicon glyphicon-exclamation-sign codingScenarioHighlight">Scenario 4</span></button>
    <br/>
    <b>current auction data:</b><br>
    I am highest bidder:<b>{{auction.iAmHighestBidder}}</b>,
    current bid:<b>{{auction.highestBid}}</b>,
    current bidder:<b>{{auction.currentBidder.firstName}}</b> {{auction.currentBidder.lastName}} id:{{auction.currentBidder.id}} from{{auction.currentBidder.country}}<br/>
    <button style="position: absolute;top:5px;right:5px;" class="glyphicon glyphicon-remove" ng-click="disableDebuggingControlls= true"></button>
</div>